@page
@model Food.Pages.Restaurants.ListModel
@{
    ViewData["Title"] = "List";
}

<h1>Restaurants</h1>

<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" 
                   asp-for="SearchTerm" 
                   />
            <span>
                <button class="btn btn-default">
                    <i class="fas fa-search">Search</i>
                </button>
            </span>
        </div>
    </div>
</form>

<table class="table">
    @foreach(var restaurant in Model.restaurants)
    {
        <tr>
            <td>@restaurant.Name</td>
            <td>@restaurant.Location</td>
            <td>@restaurant.Cuisine</td>
            <td><a asp-page="./Detail" asp-route-restaurantId="@restaurant.Id" class="btn btn-outline-info">Detail</a>
            </td>
        </tr>
    }
</table>