@page
@model Food.Pages.Restaurants.ListModel
@{
    ViewData["Title"] = "List";
}

<h1>Restaurants</h1>

<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" 
                   asp-for="SearchTerm" 
                   />
            <span>
                <button class="btn btn-default">
                    <i class="fas fa-search">Search</i>
                </button>
            </span>
        </div>
    </div>
</form>

@foreach(var restaurant in Model.restaurants)
{
    <partial name="_Summary" model="restaurant" />
}
<a asp-page="./Edit" class="btn btn-outline-primary">Add New</a>