@page
@{
    ViewData["Title"] = "Notfound";
}


@* 
    this page will shows when user try to access restaurant and it is not found
 *@
<h1>Your restaurant was not found</h1>
<a asp-page="./List" class="btn btn-outline-info">See All restaurant</a>

